*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html{
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

.App{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    color: black;
    background-color: white;
}